/* Contact Us Section */

.contact-banner-section {overflow: hidden;position: relative;}
.contact-banner {text-align: start; width: 50%; margin: 0 auto;}
.contact-banner .heading-01 {margin-left: 0;position: relative;}
.contact-banner .heading-03 {-webkit-text-stroke: 3px; -webkit-text-fill-color: transparent;}
.contact-banner .heading-03:last-child {text-align: end;}
.contact-banner .heading-01::after {content: ""; display: block; width: 21.8rem; height: 21.8rem; background-color: #e52a2dbf;border-radius: 50%; position: absolute;  top: 20%; left: -1%; z-index: -1;}
.contact-banner .heading-01::before {content: ""; display: block; width: 31.4rem; height: 31.5rem; background-color: #E50019; border-radius: 50%; position: absolute;  bottom: 15%; right: -1%; z-index: -1;}
.contact-us-section .text {color: #2E3037;}
.contact-us-section {margin-block: 7.2rem;}
.contact-form-section{position: relative; overflow: hidden;background-color: #F5F4F4;}
.contact-form-section::before {content: ''; position: absolute; width: 67.4rem; height: 67.4rem; border-radius:100%; background-color: #00000016; top: -40%;left: -18%;}
.contact-form-section::after {content: ''; position: absolute; width: 70.4rem; height: 70.4rem; border-radius:100%; background-color: #00000016;bottom: -34%; right: -12%;}
.contact-form-container {max-width: 119.5rem;margin: 0 auto; display: grid; gap:4.9rem; grid-template-columns: 55% 40%; justify-content: space-between; align-items: center; padding-block: 7.8rem;}
.contact-form-box{background-color: #32343A; border-radius: 5.6rem; padding-inline: 11.8rem; padding-block: 8.4rem;border: 9px solid #E9E8E8;}
.contact-form-container .contact-form-box .heading-05{color: #fff;}
.contact-form input , .contact-form select , .contact-form textarea{ background-color: transparent; border: none; border-bottom: 1px solid #E8E4E4;width: 100%; padding-block: 1rem; font-size: 2.2rem; color: #fff;}
.contact-form select{width: max-content;display: block; border-bottom: none;}
.contact-form select:focus{outline: none;}
.contact-form label{font-size: 3.0rem; font-family: var(--Signika); font-weight: 400; color: #fff;}
.contact-form input::placeholder{color: #6F6F73; font-size: 2.2rem;}
.contact-form select{color: #fff;}
.contact-form .read-more-btn{color: #fff;z-index: 999;}
.contact-form .read-more-btn::before{left: -67%; background-color: #707070;}
.contact-form .read-more-btn:after{margin-left: -4rem;right: -4rem;}
.contact-form .input-box{margin-block: 2.8rem;}
.contact-form select option{color: #000;}
.add-title{font-size: 4.3rem; font-family: var(--Signika);margin-bottom: 2.2rem; color: #2E3037;}
.add-box{display: flex; gap: 1rem; align-items: flex-start;margin-bottom: 2rem;}
.add-box img{width: 4.2rem;}
.add-box p,.add-box a{font-size: 2.6rem; font-weight: 600;color: #2E3037;}
.address-box{display: flex; flex-direction: column; justify-content: space-between; height: 100%; padding-block: 2.2rem;}
.address-box .heading-04{color: #BFBFBF;}
.chat-box-btn{display: flex; align-items: center; gap: 1rem; cursor: pointer;}
.chat-box-btn img{width: 8.8rem;}
.address-box .box{margin-top: 3rem;}
.map-box .md-container{margin-block: 6rem;}

.enquire-whatsapp-container .contact-form-box{transform: translateX(100%);transition: 1s ease all;position: fixed;right: 0;top: 6%;width: 70rem;padding-top: 3rem; padding-inline: 4rem; z-index: 9999;padding-right: 10rem;padding-bottom: 6rem; border: 4px solid #E9E8E8;}
.enquire-whatsapp-container .contact-form .input-box{margin-block: 1rem;}
.contact-form label {font-size: 2.5rem;}
.enquire-whatsapp-container .contact-form-box.active{transform: translate(10%);}
.enquire-whatsapp-container .contact-form-box .heading-05{color: #fff;}
.enquire-whatsapp-container .contact-form-box .close{position: absolute;right: 12%;top: 5%;font-size: 4rem;cursor: pointer;color: #fff;}
.close{width: 25px;height: 20px;}
.close::after ,.close::before , .close-popup::after , .close-popup::before   {content: ""; position: absolute;display: block;width: 100%;height: 2px;background: #fff;margin: 4.5px 0;transform-origin: 12px 1px;}
.close::after , .close-popup::after{transform: rotate(45deg);}
.close::before , .close-popup::before{transform: rotate(-45deg);}

/* Why Us Page */
.why-us-section .heading-01::after{top: 45%;left: -5%;}
.why-us-section .heading-01::before{top: -15%;right: -1.5%;}
.decades-brands-section{padding-block: 8rem;position: relative;}
.decades-brands-section .md-container .heading{color: #2E3037; font-size: 12.7rem; font-family: var(--Anton);line-height: 1;}
.decades-brands-section .brands-flex{display: flex; justify-content: space-between;align-items: end; gap: 3rem;margin-top: 1rem;}
.decades-brands-section .brands-flex .heading-01{color: #A1A2A5; font-size: 29.2rem;line-height: 0.9;}
.decades-brands-section::before{content:"";position: absolute; right: 0; top: 0; width: 30%; height: 100%;background-image:url(../img/Intersection_9.png); z-index: -1; background-repeat: no-repeat;}
.decades-brands-section::after{content:"";position: absolute; left: 0; bottom: 0; width: 30%; height: 29%;background-image:url(../img/Intersection_14.png); z-index: -1; background-repeat: no-repeat;}

.our-superpowers-section{padding-block: 8rem;}
.our-superpowers-section .sm-container .grid-container{display: grid; grid-template-columns: repeat(2 , 1fr); gap: 5rem;}
.our-superpowers-section .grid-container .img-box{position: relative;}
.our-superpowers-section .grid-container .img-box .box-header{position: absolute; right: 0; bottom: 0; left: 0; padding: 3.5rem;}
.our-superpowers-section .grid-container .img-box .box-header .heading-05{font-size: 6rem; line-height: 1;color: #fff;}
.our-superpowers-section .grid-container .img-box .box-header h3.heading-05{color: #E8E4E4;opacity: 52%;}
.our-superpowers-section .grid-container .box .text{margin-top: 2rem;}
.our-superpowers-section .grid-container .img-box img{width: 100%;}
/* .our-superpowers-section .grid-container .box{margin-top: 2rem;} */
.grid-cloumn{display: flex; flex-direction: column; gap: 5rem;}
.our-superpowers-section .grid-container .box-title{margin-block: 2rem;}
.our-superpowers-section .grid-container .box-title .heading-05{font-size: 6rem; line-height: 1; color: #2E3037; opacity: 12%;}
.our-superpowers-section .grid-container .box-title h3.heading-05{opacity: 38%;}
.our-superpowers-section .grid-container .img-box .box-header .text{color: #fff;}

.footer-banner-section{position: relative;}
.footer-banner-section .banner-content{max-width: 120.3rem; width: 90%;position: absolute; top: 50%; left:0; right: 0; margin: 0 auto;     transform: translateY(-50%);}
.footer-banner-section .banner-content .heading-01 , .footer-banner-section .banner-content .heading-03 {line-height: 0.9;}
.banner-content .heading-03{display: inline-block;vertical-align: top;font-size: 9.8rem;}
.banner-content .heading-01{display: inline-block;font-size: 17.5rem;}
.banner-content .heading-05{color: #fff;font-size: 5.3rem;}
.banner-content .heading-06{color: #fff;text-align: end; margin-top: 3rem;}
.banner-content{position: relative;}
.banner-content::before{content: ''; position: absolute; width: 49.3rem; height: 49.4rem; border-radius: 100%;left: 8%; top: 50%;background-color: #E50019;z-index: -1; transform: translateY(-50%);}
.footer-banner-section .banner-content .read-more-btn{float: right;clear: both;margin-right: 2rem;color: #fff;}

.decades-brands-section .brands-circle{position: absolute; width: 28%; height: 53%; border-radius: 100%;}
.decades-brands-section .circle{position: absolute; right: 1.7rem; left: 1.7rem; top: 1.7rem; bottom: 1.7rem;border-radius: 100%;display: flex; align-items: center; justify-content: center; flex-direction: column;background-color: #2E3037;text-align: center; padding: 6rem;}
.decades-brands-section .brands-circle:nth-child(2){left: 4.5%;top: 8%;}
.decades-brands-section .brands-circle:nth-child(3) .circle{background-color: #E50019;padding: 4rem;}
.decades-brands-section .brands-circle:nth-child(3){right: 50%;left: 50%;bottom: 11%;transform: translate(-50%);}
.decades-brands-section .brands-circle:nth-child(4){right: 4.5%;top: 8%;}
.decades-brands-section .brands-circle:nth-child(2)::before{content: '';background-image: url('../img/1.png'); background-repeat: no-repeat;  position: absolute;}
.decades-brands-section .lg-container{display: flex; justify-content: space-between; padding: 4.5rem;position: relative;}
.decades-brands-section .brands-circle h2{font-size: 3.9rem;font-weight: 700;color: #fff;}
.decades-brands-section .brands-circle p{color: #fff; font-size: 2.2rem; line-height: 1.5; margin-top: 2rem;}
.decades-brands-section .brands-circle img{width: 80%;}
.contact-form-box.pop-up{display: none;}
.contact-form-box.pop-up.active{position: fixed; display: block; z-index: 9999;width: 40%;margin: 0 auto;right: 50%;padding-block: 5rem;top: 50%;transform: translate(50%, -50%);padding-inline: 6.8rem;}
.pop-up .close-popup{position: absolute;right: 5%;top: 5%;font-size: 4rem;cursor: pointer;color: #fff;    width: 25px;
    height: 20px;}
.contact-form-box .heading-05{color: #fff;}

@media screen and (max-width: 1700px){
    .contact-form-container .contact-form-box{padding-inline: 7rem; padding-block: 5rem;}
    .contact-form .input-box { margin-block: 2.2rem;}
    .add-title{margin-bottom: 1.2rem}
    .address-box .box{margin-top: 2rem;}
    .add-box{margin-bottom: 1rem;}
    .add-box img{width: 3.5rem;}    
}

@media screen and (max-width: 1500px){
    .contact-banner .heading-03:last-child {-webkit-text-stroke: 2px;}
    .contact-banner .heading-03 {-webkit-text-stroke: 2px;}
}

@media screen and (max-width: 1279px){
    .contact-banner .heading-03{-webkit-text-stroke:2px; font-size: 7.7rem;}
    .home-banner-content.contact-banner{width: 55%; top: 55%;}
}

@media screen and (max-width: 1023px){
    .contact-banner .heading-01::before{left: 70%;bottom: -31%;}
    .contact-banner{width: 55%;}
    .md-container{width: 90%;}
    .sm-container{width: 90%;}
    .home-banner-content.contact-banner { width: 70%;}
    .banner-content .heading-01{font-size: 15rem;}
    .banner-content .heading-03{font-size: 7.7rem;}
    .banner-content::before{top:50%;left: 50%; transform: translate(-50%, -50%);width:40rem; height: 40rem;}
    .decades-brands-section .lg-container{width: 100%;}
    .decades-brands-section .brands-circle p{line-height: 1.2;}
}

@media screen and (max-width: 767px){
    .contact-banner-section {position: relative;}
    .map-box .md-container{width: 90%;}
    .md-container{width: 90%;}
    .contact-banner .heading-01::before{width: 28rem;height: 28rem; left: 45%;}
    .home-banner-content.contact-banner{width: 65%;top: 50% !important; transform: translateY(-50%);}
    .contact-form-container{width: 90%;}
    .decades-brands-section .brands-flex{flex-direction: column; align-items: center;margin-top: 2rem;}
    .our-superpowers-section .sm-container .grid-container{grid-template-columns: 1fr;}
    .contact-banner .heading-01{font-size: 13rem;}
    .contact-banner .heading-03{font-size: 8rem;}
    .banner-content .heading-03{font-size: 6.8rem;}
    .banner-content .heading-05{font-size: 4.3rem;}
    .footer-banner-section img{height: 50vh;object-fit: cover;}
    .decades-brands-section .lg-container{padding: 2.5rem;}
    .decades-brands-section .circle , .decades-brands-section .brands-circle:nth-child(3) .circle{padding: 2rem;}
    .decades-brands-section .brands-circle p{font-size: 1.5rem;}
    .decades-brands-section .brands-circle{    width: 29%;height: 54%;}
    

}

@media screen and (max-width: 500px){
    .home-banner-content.contact-banner .heading-01{font-size: 11rem;}
    .home-banner-content.contact-banner{ width: 100%; text-align: center;}
    .contact-banner .heading-03:last-child{text-align: center;}
    .contact-banner .heading-01::before {left: 70%;}
    .home-banner-content .heading-01{margin: 0 auto; margin-left: 0 !important;}
    .contact-banner .heading-01::after{top: 50%;left: -13%;}
    .contact-form-container{width: 90%; grid-template-columns: 1fr;}
    .address-box{gap: 1rem;}
    .address-box .address-grid{display: grid;grid-template-columns: repeat(2, 1fr);}
    .address-box .address-grid .box:first-child{grid-column: 2 span;}
    .contact-form-section::after{bottom: -20%;right: -40%;}
    .contact-form-section::before{ top: -15%;left: -30%;}
    .contact-form-container{padding-block: 4.8rem;}
    .our-superpowers-section .grid-cloumn:last-child{flex-direction:column-reverse}
    .our-superpowers-section .grid-container .box .text{font-size: 2rem;}
    .our-superpowers-section .grid-container .img-box .box-header .heading-05{font-size: 5rem;}
    .contact-form-container .contact-form-box {padding-inline: 5rem;}

    .why-us-section .contact-banner .heading-01::before{left: 75%; top: auto;}
    .why-us-section .contact-banner .heading-01::after{top: 100%;left: -10%;}
    .decades-brands-section .brands-flex .heading-01{font-size: 23rem;}
    .decades-brands-section .md-container .heading{    font-size: 9.7rem;}
    .banner-content .heading-01{font-size: 9rem;}
    .banner-content .heading-03{font-size: 6.8rem;}
    .banner-content .heading-05{font-size: 4.3rem;}
    .decades-brands-section .lg-container{align-items: center;display: flex;flex-direction: column;position: static;gap: 3rem;}
    .decades-brands-section .lg-container > img{display: none;}
    .decades-brands-section .brands-circle{position: static;}
    .enquire-whatsapp-container .contact-form-box{width: 100%;}
    .decades-brands-section .brands-circle {width: 75%;height: 80%;}
    .decades-brands-section .circle {position: static;height: 40rem;width: 40rem;padding: 3rem;margin: 0 auto;}
    .decades-brands-section .brands-circle:nth-child(3){transform: translate(0);}
    .decades-brands-section .brands-circle p {font-size: 2.5rem;}
    .decades-brands-section::after{width: 100%; background-size: 65%; height:15%}
    .decades-brands-section::before{width: 70%; background-size: 100%; height:100%}
    .footer-banner-section .banner-content .heading-01, .footer-banner-section .banner-content .heading-03 { line-height: 1;}
    .footer-banner-section .banner-content{text-align: center;}
    .banner-content .heading-06{margin-top: 1rem; text-align: center;}

    
}